.error{
  border:1px solid red;
}

.textbox{
  width:80%;
}

.rows-value {
  border:1px solid #dadada;
  width:80%;
  display:flex;
}

.val{
  width:95%;
}

.textbox{
  width:80%;
}

.task{
  background-color:grey; 
  color:white;
  border-radius: 5px;
  
}

.cancel{
  cursor: pointer;
}