*{
  margin:0px;
}

body{
  padding:2%;
}

.row{
  border:1px solid #dadada;
  width:80%;
  display:flex;
  justify-content: space-around;
  padding:0.2em;
}

.textbox{
  width:80%;
}

.val{
  width:80%;
}

button{
  background-color: rgb(126, 179, 240);
}

.red{
  border:1px solid red;
}